{% extends "core/base.html" %}
{% load static %}
{%block resume_style%}<link rel="stylesheet" href="{% static 'core/assets/css/style-resume.css' %}">{%endblock%}
{% block content %}
    <div id="page-top">
        <header class="app-header" id="head_title">
            <a class="app-header__logo" href="javascript:history.back()">
              <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12" >
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12 d-flex justify-content-center" >    
                  Machtili
                </div>
              </div>
           </a>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="javascript:history.back()">
            
                <span class=" d-block d-lg-none">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    Machtili             
                </span>

                <span class="d-none d-lg-block r">
                    <img class="img-fluid img-profile rounded-circle" 
                    src="{{profesor.urlImage.url}}" />
     
                </span>
            
            </a>  
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        <span class="text-primary">{{profesor.name}}</span>
                        {{profesor.paternal_surname}} {{profesor.maternal_surname}}
                    </h1>
                    <div class="subheading mt-5 mb-5">
                        {{profesor.phrase}}
                    </div>
                    <div style="text-align: justify;" class="resume">
                       {%for p in paragraph%}
                          {{p.description|safe}}
                       {%endfor%}
                        
                    </div>
                 
                </div>
              
            </section>
              <hr class="m-0" />
                <div class="pie mt-5 mb-5">
                     Machtili – “Educar es nuestra pasión”
                </div>
        </div>
    </div>
{%endblock%}
{%block script%}
<script>

    function addForm(x) {
        var head_title = document.getElementById("head_title");
    
        if (x.matches) {   
            head_title.style.display="none"
    
        }else {        
    
            head_title.style.display="block"
        }
    }
    var x = window.matchMedia("(max-width: 991px)")
        addForm(x) 
        x.addListener(addForm) 



</script>




{%endblock%}