
{% extends "core/base.html" %}
{%load static%}
{%block itemshome%}
    <li class="active"><a href="{%url 'home'%}">Principal</a></li>
{%endblock%}
{% block style-uc %}class="construction-area"{% endblock %}
{% block content-uc %} 

      <div class="layer"></div>
      <!-- ======= Construction Section ======= -->
      <section class="construction-content d-flex justify-content-center">
        <div  class="construction-text">
          <h5>Esta página esta en construcción.</h5>
          <p> <a href="{%url 'home'%}">Solicita información</a> y síguenos en facebook!</p>

          <p>facebook:<a href="https://www.facebook.com/machtili">Machtili</a></p>
        </div>
      </section>
 
{%endblock%} 


   